
<%- include('partials/header') -%>

    <!-- <main class="container">
        <div class="row justify-content-around mt-5">
            <a href="/login" class="col-3 btn btn-primary"> Login</a>
            <a href="/register" class="col-3 btn btn-primary"> Sign up</a>
        </div>
    </main> -->
    <h3>Please select the appropriate box to confirm whether you are a parent or a teacher</h3>
    <div class="flex flex-col w-full border-opacity-50">
        <div class="grid h-20 card bg-base-300 rounded-box place-items-center">
            <a href="/indexParents" class="col-3 btn btn-primary"> Parents </a>
        </div>
        <div class="divider">OR</div>
        <div class="grid h-20 card bg-base-300 rounded-box place-items-center">
            <a href="\indexTeachers" class="col-3 btn btn-primary"> Teachers</a>
        </div>
    </div>


    <%- include('partials/footer') -%>