
<%- include('partials/header') -%>

    <!-- <main class="container">
        <div class="row justify-content-around mt-5">
            <a href="/login" class="col-3 btn btn-primary"> Login</a>
            <a href="/register" class="col-3 btn btn-primary"> Sign up</a>
        </div>
    </main> -->

    <div class="flex flex-col w-full border-opacity-50">
        <div class="grid h-20 card bg-base-300 rounded-box place-items-center">
            <a href="/parentLogin" class="col-3 btn btn-primary"> Login</a>
        </div>
        <div class="divider">OR</div>
        <div class="grid h-20 card bg-base-300 rounded-box place-items-center">
            <a href="/signup" class="col-3 btn btn-primary"> Sign up</a>
        </div>
    </div>


    <%- include('partials/footer') -%>