<%- include('partials/header') -%>

    <!-- <main class="container">
        <div class="row justify-content-around mt-5">
            <a href="/parentLogin" class="col-3 btn btn-primary"> Login</a>
            <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
        </div>
    </main> -->
    <!-- Banner -->
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div class="col-12-medium">
                <img class="banner-image" src="./images/pexels-yan-krukov-8613319.jpg" alt="">
                <br>
            </div>
            <div class="row">

                <div class="col-7 col-12-medium">
                    <h2>Teach||Learn||Connect</h2>
                    <h5>The best way Guardians and Teachers can communicate to raise the next generation</h5>
                </div>
                <div class="col-2 col-6-medium" style="margin: 5px;">
                    <ul>
                        <li><a href="/login" class="btn btn-outline-success btn-lg">Login</a></li>
                        <br>
                        <li><a href="/signup" class="btn btn-outline-info btn-lg">Sign Up</a></li>
                    </ul>
                </div>
                
            </div>

        </div>
    </div>

    <!-- Features -->
    <div id="features-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-medium">

                    <!-- Box -->
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="images/pexels-max-fischer-5212345.jpg"
                                alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>Classroom learning</h2>
                                <p><strong>Create a positive culture</strong></p>
                            </header>
                            <p>Teachers can encourage students for any skill or value — whether it's working hard, being
                                kind, helping others or
                                something else</p>
                        </div>
                    </section>

                </div>
                <div class="col-4 col-12-medium">

                    <!-- Box -->
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="images/pexels-pixabay-235554.jpg" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>HomeWork & Home Schooling</h2>
                                <p><strong> Share moments with parents</strong></p>
                            </header>
                            <p>Get parents engaged by sharing photos and videos of wonderful classroom moments</p>
                        </div>
                    </section>

                </div>
                <div class="col-4 col-12-medium">

                    <!-- Box -->
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="images/pexels-max-fischer-5212700.jpg"
                                alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>Team Learning</h2>
                                <p><strong>Giving students a voice</strong></p>
                            </header>
                            <p>Through Team building and Collaboration, Students can showcase and share their learning
                                by
                                adding photos and videos to their own portfolios</p>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row gtr-200">
                <div class="col-4 col-12-medium">

                    <!-- Sidebar -->
                    <div id="sidebar">
                        <section class="widget thumbnails">
                            <h3>Interesting stuff</h3>
                            <div class="grid">
                                <div class="row gtr-50">
                                    <div class="col-6"><a href="#" class="image fit"><img
                                                src="images/pexels-rodnae-productions-8363052.jpg" alt="" /></a></div>
                                    <div class="col-6"><a href="#" class="image fit"><img
                                                src="images/pexels-rodnae-productions-8363570.jpg" alt="" /></a></div>
                                    <div class="col-6"><a href="#" class="image fit"><img
                                                src="images/pexels-roman-odintsov-11025029.jpg" alt="" /></a></div>
                                    <div class="col-6"><a href="#" class="image fit"><img
                                                src="images/pexels-yan-krukov-8613091.jpg" alt="" /></a></div>
                                </div>
                            </div>
                            <span>For Adult education, click <a href="#" class="button icon fa-file-alt">here</a>
                        </section>
                    </div>

                </div>
                <div class="col-8 col-12-medium imp-medium">

                    <!-- Content -->
                    <div id="content">
                        <section class="last">
                            <h2>Childcare</h2>
                            <p>The focus is on <strong>The Students.</strong> Messages make it easy to communicate with
                                teachers, families & staff anytime, anywhere so feel free to use this site for being
                                present with your kids even when you are not there.

                                Explore a window into their world. With Stories, teachers can securely share photos &
                                updates on a private feed so parents can see the classroom and create magic for
                                themselves

                                Pre-school and Early Learning leaders who want to boost their parent engagement efforts.

                                If you are a teacher, try creating a free account <a href="/signup">here</a>
                                If you are a parent, create your account <a>here</a> and Join your Class/Group.
                                Only if you are a school leader, continue to schedule your demo on the right.
                                Please select your state from the drop down on the right and schedule your call.

                            </p>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <%- include('partials/footer') -%>